<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs</title>
    <link rel="stylesheet" href="./index.css" />
    
</head>
<body>
<div class="main">
    <div id="top">
    <img src="hinh1.jpg" />
        <div id="righttop">
           <a href="#" ><h3>Bãi cọc trên sông chống 'cát tặc'</h3></a>
           <p>Ngày bắt đầu cắm cọc trên sông chặn những con tàu hút 
               cát, người dân ven sông Bồ tuyên bố họ sẵn sàng đi tù.
            </p>
        </div>
    </div>
    
    <div id="bottom" >
      
        <div id="left">
            <a href=""><h3>Hàng loạt đường Sài Gòn được điều chỉnh giao thông</h3> </a>
           <p> Ôtô được chạy hai chiều vào ban đêm ở nhiều tuyến đường quận
            1 và 10 từ ngày 10/5, nhằm thuận lợi cho người dân và
            phát triển kinh tế đêm.
        </p>
        </div>
        
        <div id="right">
            <a href=""><h3>Trump: Covid-19 tàn phá nước Mỹ hơn cả khủng bố</h3> </a>
            <p>Trump cho rằng Covid-19 tấn công nước Mỹ khủng khiếp hơn cả
            vụ khủng bố 11/9 hay trận tập kích Trân Châu Cảng trong Thế
            chiến II.</p>
        </div>

        <div id="center">
            <a href=""><h3>Đà Nẵng làm đập chặn sông để ngăn mặn</h3> </a>
           <p> Sau hơn 10 năm bị xâm nhập mặn, Đà Nẵng quyết định làm đập
            tạm ngăn sông Cẩm Lệ để đảm bảo nước sinh hoạt cho hơn một
            triệu dân.</p>
        </div>
            
        
    </div>

</div>

  
    
</body>
</html>
